<div ng-hide="mainCtrl.isPending">
  <div style="margin-left:20px;margin-right:20px;">
    <md-list flex>
      <md-subheader class="md-no-sticky">
        <div layout="row" layout-align="space-between center">
        Chi tiêu trong ngày
        <md-datepicker md-placeholder="Enter date" ng-model="mainCtrl.currentDate" ng-change="mainCtrl.dateChange()"></md-datepicker>
        </div>
      </md-subheader>
      <div layout="row" layout-align="end" style="margin-bottom: 10px; margin-top: 5px; color: #F44336;" ng-show="mainCtrl.isNotify">
        {{mainCtrl.notifyMsg}}
      </div>
      <div ng-hide="mainCtrl.isNotify">
          <md-list-item class="md-2-line">
            <img ng-src="/img/ic_money.png" class="md-avatar" />
            <div class="md-list-item-text">
              <h3>Mức chi tiêu trong ngày</h3>
              <h4>{{mainCtrl.finalMoney}}</h4>
            </div>
          </md-list-item>
        </md-list>

        <md-list flex>
          <md-subheader class="md-no-sticky">
            <div layout="row" layout-align="space-between center">
              <span>Chi tiết</span>
              <span ng-show="mainCtrl.transactionList.length == 0" style="color:#1b7e7d;">Không có chi tiêu nào</span>
            </div>
          </md-subheader>
          <md-list-item class="md-3-line" ng-click="mainCtrl.transactionClicked($index)" ng-repeat="transaction in mainCtrl.transactionList">
            <img ng-src="/img/sv60.png" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{transaction.note}}</h3>
              <h4>{{transaction.price}}</h4>
            </div>
          </md-list-item>
        </md-list>
      </div>

      <div layout="row" layout-align="end">
        <md-button class="md-fab md-accent" layout-align="end" ng-click="mainCtrl.newTransaction()">
          <md-icon md-svg-src="/img/ic_add_white_24px.svg"></md-icon>
        </md-button>
      </div>
  </div>

</div>

<div layout="row" layout-sm="column" layout-align="space-around center" ng-show="mainCtrl.isPending" style="margin-top:20px;margin-bottom:20px;">
    <md-progress-circular md-mode="indeterminate" md-diameter="60" class="md-accent"></md-progress-circular>
</div>