<div style="margin-left:20px;margin-right:20px;">
	<md-list flex>
	  <md-subheader class="md-no-sticky">
	    Tien ich mo rong
	  </md-subheader>
	  <md-list-item class="md-2-line" ng-click="null">
	    <img ng-src="/img/ic_exchange.png" class="md-avatar" />
	    <div class="md-list-item-text">
	      <h3>Tra cuu gia ngoai te</h3>
	    </div>
	  </md-list-item>
	  <md-list-item class="md-2-line" ng-click="utilCtrl.logOut()">
	    <img ng-src="/img/ic_exit.png" class="md-avatar" />
	    <div class="md-list-item-text">
	      <h3>Thoat</h3>
	    </div>
	  </md-list-item>
	</md-list>
</div>